3<h1> hello world </h1>

<%= form_with model: @student  do |form| %>
    <%= form.text_field :first_name, placeholder:"First Name"%>
    <%= form.text_field :second_name, placeholder:"Second Name"%>
    <input list="browsers" name="student[course_name]">
  <datalist id="browsers">
    <% @courses.each do |element|%>  
        <option value= "<%= element.name %>" >
    <% end %>    
  </datalist>
    <%= form.submit %>
<% end %>


<%= console %>

